.outer-circle {
    --diameter: calc(var(--radius) * 2);
    --hover-shadow-color: var(--persian-green-lighter);
    width: var(--diameter);
    height: var(--diameter);
    border-radius: 50%;
    border: 0.3rem solid var(--charcoal);
    position: relative;
}

.pointer {
    background: var(--charcoal);
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom center;
}

.minutes {
    height: calc(var(--radius) * 0.85);
    width: 0.35em;
    transform: translateX(-50%) rotateZ(calc(var(--minutes) * 6deg));
    border-radius: 1px;
}

.hours {
    height: calc(var(--radius) * 0.65);
    width: 0.6em;
    transform: translateX(-50%) rotateZ(calc(var(--hour) * 30deg));
    border-radius: 2px;
}

[style*="--seconds"] .seconds {
    height: calc(var(--radius) * 0.9);
    width: 0.2em;
    transform: translateX(-50%) rotateZ(calc(var(--seconds) * 6deg));
    border-radius: 2px;
}

.wobble {
    animation: wobble 2s ease-in-out infinite;
}

/* TODO: it stops for a moment on every keyframe. the movement is not continuous. */
@keyframes wobble {
    0%, 100% {
        transform: translateY(-15%);
    }
    50% {
        transform: translateY(15%);
    }
}