@font-face {
    font-family: "Digital Dream";
    src: url("./assets/digitaldream.ttf");
    font-display: block;
}

html,
body {
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--saffron);
    color: var(--charcoal);
}

:root {
    --default-radius: 5rem;
    --default-diameter: calc(var(--default-radius) * 2);
    --clock-margin: 0 5rem;

    /* colors */
    /* palette link: https://coolors.co/palette/264653-2a9d8f-e9c46a-f4a261-e76f51 */
    --charcoal: hsla(197, 37%, 24%, 1);
    --persian-green: hsla(173, 58%, 39%, 1);
    --persian-green-lighter: hsla(173, 58%, 59%, 1);
    --saffron: hsla(43, 74%, 66%, 1);
    --sandy-brown: hsla(27, 87%, 67%, 1);
    --burnt-sienna: hsla(12, 76%, 61%, 1);
    --burnt-sienna-darker: hsla(12, 76%, 41%, 1);

    font-size: 12px;
}

@media (max-width: 1128px) {
    :root {
        font-size: 9px;
    }
}

@media (max-width: 938px) {
    :root {
        font-size: 7.5px;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

h1 {
    font-size: 3rem;
    font-family: "Digital Dream";
    margin: 0 auto;
}
